# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.env.*

# SQLite
*.sqlite3
db.sqlite3

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Local files
backend-status.txt